.atstarpe{
    padding: 10px;
}

html{
    background-color: rgb(223, 255, 255);
}

.main{
    border-style:solid;
    border-top-width: 20px;
    border-bottom-width: 0px;
    border-left-width: 30px;
    border-right-width: 30px;
    border-color: rgb(223, 255, 255);

}

